# 淘宝 npm 镜像（npmmirror.com）
registry=https://registry.npmmirror.com

# Electron 等二进制包镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
